body {
    background-color: #424242;
    width: 100%;
    height: 100%;
}

#firework-container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

 @keyframes fall {
    from {
        top: 100%;
    }

    to {
        top: 0%;
    }
 }

 
 @keyframes leftToright {
    from {
        left: 0%;
    }

    to {
        left: 40%;
    }
 }
 
.fire-container {
    position: absolute;
    padding: 0px 50px;
    top: 0;
   animation: fall 10s 0s infinite linear forwards; 
}

.fire-container img {
    position: absolute;
    animation: leftToright 2s 0s infinite ease-in-out alternate;
    rotate: -35deg;
} 



#section {
    background-color: azure;
    width: 40%;
    height: 50%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}
article {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

#section section {
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 1.7rem;
    float: right;
}

    @media screen and (max-width: 400px) {
        #section {
            background-color: azure;
            width: 70%;
            height: 50%;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
        }
    }
