body {
    font-family: Verdana;
    text-align: center;
}

#mybutton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

#label1 {
    font-size: 3em;
}
#label2 {
    font-size: 3em;
}
#label3 {
    font-size: 3em;
}