body {
    background-color: #030f29;
    width: 100%;
    height: 100%;
}

#snow-container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

 @keyframes fall {
    from {
        top: 0%;
    }

    to {
        top: 100%;
    }
 }

 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
 }
 
 @keyframes leftToright {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
 }
 
.flake-container {
    position: absolute;
    padding: 0px 50px;
    top: 0;
   animation: fall 10s 0s infinite linear forwards; 
}

.flake-container img {
    position: absolute;
    animation: rotate 6s 0s infinite linear forwards,
    leftToright 2s 0s infinite ease-in-out alternate;
} 



#section {
    background-color: azure;
    width: 40%;
    height: 50%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}
article {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}

#section section {
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 1.9rem;
    float: right;
}


@media  {

    #section {
        background-color: azure;
        width: 60%;
        height: 50%;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
    }
    article {
        text-align: center;
        font-size: 1rem;
        font-family: 'Dancing Script', cursive;
    }
    
    #section section {
        padding-right: 1rem;
        padding-top: 1rem;
        font-size: 1.5rem;
    } 
}



