body {
  font-family: Arial;
  background-color: rgb(255 250 205);
  padding: 40px 0;
  margin: 0 auto 0 auto;
}

header {
  padding: 10px 60px 20px 60px;
  width: 960px;
  background-color: rgb(255 250 250);
  margin: 0 auto;
}

section,
header {
  padding: 10px 60px 20px 60px;
  width: 960px;
  background-color: rgb(255 250 250);
  margin: 0 auto;
}
