
.icon-user:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
