
.icon-code:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-laptop-1:before { content: '\e806'; } /* '' */
.icon-user-1:before { content: '\e807'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
